.home{
  font-size: 1.2em;
  line-height: 1.5em;
}
.center1{
  margin-left: auto;
  margin-right: auto;
}
.panels{
  display: inline-block;
  margin-top: 10px;
  min-height: 150px;
  margin-right: 20px;
}
.panel-Green {
    border-color: green;
}
.panel-Green > .panel-heading {
  color: #fff;
  background-color: Green;
  border-color: #337ab7;
}
.panel-Yellow {
    border-color: #99cc00;
}
.panel-Yellow > .panel-heading {
  color: #fff;
  background-color: #99cc00;
  border-color: #337ab7;
}

.slide {
  position: relative;
  padding: 8%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}

img {
  position: absolute;
  top: 50%;
  left: 35%;
  width: 320px;
  height: 240px;
  transform: translateZ(.25px) scale(.75) translateX(-94%) translateY(-100%) rotate(2deg);
  padding: 10px;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

img:last-of-type {
  transform: translateZ(.4px) scale(.6) translateX(-104%) translateY(-40%) rotate(-5deg);
}

.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right:0;
}

.title {
  width: 50%;
  padding: 5%;
  border-radius: 5px;
  background: rgba(240,230,220, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}

.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}

.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 0;
}

.slide, .slide:before {
  background: 50% 50% / cover;
}

.header {
  text-align: center;
  font-size: 1.5em;
  color: auto;
}

#title {
  background-image: url("../img/1.jpg");
   background-attachment: fixed;
}

#slide1:before {
  background-image: url("../img/2.jpg");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide2 {
  background-image: url("../img/1.jpg");
  background-attachment: fixed;
}

#slide3:before {
  background-image: url("http://lorempixel.com/640/480/abstract/5/");
  transform: translateZ(-1px) scale(2);
  z-index:-1;
}

#slide4 {
  background: #222;
}
